<div id="right-content">
	  <div class="top_right_content">
	    <%= label_tag "learn_more", "Learn more about us!", :class => "learn_more" %>
	    <%= button_to "Learn More Here", learn_more_path, :form_class => "learn_more_here" %>
	  </div>
	  <div class="promotional_video_content">
	    <%= label_tag "promotional_video", "Promotional Video", :class => "promotional_video" %>
	  </div>
	  <div class="bottom_right_content">
	   <!-- PROMOTIONAL VIDEO HERE! -->
	   <%= link_to image_tag("homepage/prospecting-video-placeholder.jpg", :width => "580px;", :height => "300px;"), root_path %>
	  </div>
  </div>
