<div>
  <div class="field_wrapper">
    <label for="c_make" class="f_usr">Make
       <span class="error_message"></span>
    </label>
    <%= f.text_field :c_make, :class => "f_usr_text", :placeholder => 'Car Make' %>
  </div>
  <div class="field_wrapper">
    <label for="c_model" class="f_usr">Model
     <span class="error_message"></span>
    </label>
    <%= f.text_field :c_model, :class => "f_usr_text", :placeholder => 'Car Model' %>
  </div>
  <div class="field_wrapper">
    <label for="c_year" class="f_usr">Year
     <span class="error_message"></span>
    </label>
    <%= f.text_field :c_year, :class => "f_usr_text", :placeholder => 'Year Manufactured' %>
  </div>
</div>
