#location { width: auto; min-width: 1345px; height: auto; min-height: 450px;
  padding: 5px 0px; border: 2px solid #EEEEEE; margin-top: 5px; display: inline;
  float: right; font-family: arial; font-size: 12px; }

#location-form-wrapper { width: 97%; height: auto; min-height: 423px;
  padding: 10px; border: 2px solid #EEEEEE; margin-top: 5px; display: inline;
  float: left; font-family: arial; font-size: 14px; margin-left: 10px; }
  
#location-form-wrapper .business_name { width: 200px; }
#location-form-wrapper .email { width: 250px; }
#location-form-wrapper .phone { width: 150px; }
#location-form-wrapper .address { width: 500px; }

