/* Login Page */
#login-wrapper { width: auto; min-width: 1345px; height: auto; min-height: 450px; 
               padding:5px 0px; border: 2px solid #EEEEEE; margin-top: 5px; 
               display: inline; float: right; font-family: arial; font-size: 12px; }

#login-form-wrapper { width: 45%; height: auto; min-height: 400px; padding: 10px; 
               border: 2px solid #EEEEEE; margin-top: 5px; display: inline; 
               float: left; font-family: arial; font-size: 14px; margin-left: 350px; }

#login-form-wrapper .account_login { font-size: 24px; padding-top: 15px; 
               padding-bottom: 10px; }

#login-form-wrapper .session { width: auto; min-width: 600px; height: auto;
               min-height: 300px; padding-left: 15px; text-align: center; 
               margin-top: 15px; }               

#login-form-wrapper .button_wrapper { width: 440px; padding: 0px; }
#login-form-wrapper .field_wrapper { width: 600px; padding: 10px 0px; }
#login-form-wrapper .f_usr { width: 400px; font-size: 16px; display: inline;
               padding-right: 0px; height: 25px; padding-top: 5px; margin-top: 15px; }

#login-form-wrapper .keep_me_login { width: 400px; font-size: 16px; display: inline;
               padding-left: 30px; height: 25px; padding-top: 5px; }


#login-form-wrapper .f_usr_text { width: 260px; font-size: 16px; 
               padding-right: 10px; height: 25px; float: right; }

#login-form-wrapper .f_usr_checkbox { width: 30px; font-size: 14px; 
               padding-right: 10px; height: 25px; float: right; }

#login-form-wrapper form.signup { width: auto; min-width: 130px; float: right; 
               padding-left: 5px; padding-right: 5px; margin-right: 10px; 
               margin-top: 0px; height: 20px; }

#login-form-wrapper .forgot_password { width: 150px; float: left; padding-left: 5px; 
               font-size: 14px; text-decoration: none; }
               
#login-form-wrapper a:hover { text-decoration: underline; }

#login-form-wrapper .error_message { width: 150px; font-size: 12px; 
               padding-right: 5px; height: 15px; float: right; 
               padding-top: 5px; padding-left: 5px; }

#login-form-wrapper .btn_login { width: 100px; font-size: 16px; 
               padding-right: 10px; float: right; color: #ffffff;
               background-color: #0044cc; }
