/* Homepage Content */
#content-placeholder { width: auto; min-width: 1346px; height: auto; 
                       min-height: 450px; padding:5px 0px; border: 2px solid #EEEEEE; 
                       margin-top: 5px; display: inline; float: right;
                       font-family: arial; font-size: 12px; }

/* Left Content */
#left-content { width: 45%; height: auto; min-height: 423px; padding: 10px; 
                border: 2px solid #EEEEEE; margin-top: 5px; display: inline; 
                float: left; font-family: arial; font-size: 14px; margin-left: 10px; }
                
#search-field-group .search_field_mechanic { width: 500px; margin-top: 15px; margin-bottom: 15px; height: 25px;  }

#search-field-group .search_field_address { width: 500px; height: 25px;  }                

                       
/* Right Content */
#right-content { width: 45%; height: auto; min-height: 420px; padding: 10px; 
                 border: 2px solid #EEEEEE; margin-top: 5px; display: inline; 
                 float: right; font-family: arial; font-size: 12px; 
                 margin-right: 10px; }

/* Top Right Content */
#right-content .top_right_content { width: 96%; height: auto; min-height: 50px; 
                 padding: 10px; border: 2px solid #EEEEEE; margin-top: 5px; 
                 font-family: arial; font-size: 12px; margin-right: 10px; 
                 text-align: center; vertical-align: middle; }
                 
#right-content .top_right_content .learn_more { padding-top: 20px; vertical-align: middle; }
      
/* Bottom Right Content */
#right-content .promotional_video_content { margin-top: 10px; margin-bottom: 5px; height: 20px;}
#right-content .bottom_right_content { width: 99%; height: auto; min-height: 285px; 
                 padding: 1px; border: 2px solid #EEEEEE; margin-top: 5px; 
                 font-family: arial; font-size: 12px; margin-right: 10px; 
                 text-align: center; vertical-align: middle; }
