/* Create User Page */
#create-user { width: auto; min-width: 1345px; height: auto; min-height: 450px; 
               padding:5px 0px; border: 2px solid #EEEEEE; margin-top: 5px; 
               display: inline; float: right; font-family: arial; font-size: 12px; }

#create-user-form-wrapper { width: 45%; height: auto; min-height: 423px; padding: 10px; 
               border: 2px solid #EEEEEE; margin-top: 5px; display: inline; 
               float: left; font-family: arial; font-size: 14px; margin-left: 10px; }

#create-user-form-wrapper .create_user { font-size: 20px; padding-top: 15px; 
               padding-bottom: 10px; }
                
#create-user-form-wrapper .classification { font-size: 14px; padding-top: 25px; 
               padding-bottom: 10px; font-weight: bold;}

#create-user-form-wrapper .user { width: auto; min-width: 600px; 
               margin-top: 15px; padding-left: 15px; }               

#create-user-form-wrapper .button_wrapper { width: 440px; padding: 15px 0px; }
#create-user-form-wrapper .field_wrapper { width: 600px; padding: 10px 0px; }
#create-user-form-wrapper .span_wrapper { width: 600px; padding: 15px 0px; }
#create-user-form-wrapper .f_usr { width: 400px; font-size: 14px; display: inline;
               padding-right: 20px; height: 25px; padding-top: 5px; }

#create-user-form-wrapper .f_usr_text { width: 260px; font-size: 14px; 
               padding-right: 10px; height: 25px; float: right; }

#create-user-form-wrapper .f_usr_checkbox { width: 30px; font-size: 14px; 
               padding-right: 10px; height: 25px; float: right; }


#create-user-form-wrapper .error_message { width: 150px; font-size: 12px; 
               padding-right: 5px; height: 15px; float: right; 
               padding-top: 5px; padding-left: 5px; }

               
#create-user-form-wrapper .btn_next { width: 100px; font-size: 16px; 
               padding-right: 10px; float: right; color: #ffffff;
               background-color: #0044cc; }
/* Merchants */
#create-merchant-form-wrapper { width: 97%; height: auto; min-height: 423px;
  padding: 10px; border: 2px solid #EEEEEE; margin-top: 5px; display: inline;
  float: left; font-family: arial; font-size: 14px; margin-left: 10px;
}

#create-merchant-form-wrapper .left_column {float: left; width: 49% }
#create-merchant-form-wrapper .right_column {float: right; width: 49% }

#create-merchant-form-wrapper .classification { font-size: 14px; padding-top: 25px; 
  padding-bottom: 10px; font-weight: bold;}

#create-merchant-form-wrapper .user { width: auto; min-width: 600px; 
  margin-top: 5px; padding-left: 15px; }               

#create-merchant-form-wrapper .button_wrapper { width: 440px; padding: 15px 0px; }
#create-merchant-form-wrapper .field_wrapper { width: 600px; padding: 10px 0px; }
#create-merchant-form-wrapper .span_wrapper { width: 600px; padding: 15px 0px; }
#create-merchant-form-wrapper .f_usr { width: 400px; font-size: 14px; display: inline;
  padding-right: 20px; height: 25px; padding-top: 5px; }

#create-merchant-form-wrapper .f_usr_text { width: 260px; font-size: 14px; 
  padding-right: 10px; height: 25px; float: right; }

#create-merchant-form-wrapper .f_usr_checkbox { width: 30px; font-size: 14px; 
  padding-right: 10px; height: 25px; float: right; }

#create-merchant-form-wrapper .error_message { width: 150px; font-size: 12px; 
  padding-right: 5px; height: 15px; float: right; padding-top: 5px; padding-left: 5px; }

#create-merchant-form-wrapper .btn_next { width: 100px; font-size: 16px; 
  padding-right: 10px; float: right; color: #ffffff; background-color: #0044cc; }

